<div class="col-sm-3">
  <div class="logo">
    <span class="top">IRON</span><span class="top and">&</span><span class="top">FAVS</span>
  </div>
</div>

<div class="col-sm-7">
  <input type="text" name="search" placeholder="Search for website name..." class="typeahead search-input">
</div>

<div class="col-sm-2">

  <div class="userlogout">
    <div class="user my-button my-button-sm"><%= current_user.name %></div>
    <div class="logout my-button my-button-sm"><%= link_to 'Logout',destroy_user_session_path, method: 'delete' %></div>
  </div>

</div>
