<div class="col-sm-3 logo">
  My Top 8
</div>
<div class="col-sm-9">
  <%= form_tag('/search', method: :get) do %>
  <p>
    <%= text_field_tag :query, params[:query], class: 'typeahead' %>
    <%= submit_tag "Search", class: 'btn btn-primary ' %>
  </p>
<% end %>
  <button type="button" class="btn btn-default newTag">New Tag</button>
  <button type="button" class="btn btn-default newWebsite">New Website</button>
</div>
