/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 @import url(https://fonts.googleapis.com/css?family=Amatic+SC);
 @import url(https://fonts.googleapis.com/css?family=Pacifico);

 @import "bootstrap-sprockets";
 @import "bootstrap";

 html, body, .container-fluid, .col-sm-8 {
  height: 100%!important;
}

 .modal-header {
   padding: 5px!important;
 }
.js-land {
  margin:0;
}
 .btn-user {
   color: white!important;
   border-color: white!important;
 }
 .btn-user:hover{
   color: white!important;
   border-color: #eb5e28!important;
   background-color: #eb5e28!important;
 }
 .logo-landing {
   color: white;
   font-size: 10em;
   margin: 0 auto;
   font-family: 'Amatic SC';
   text-align: center;
 }
 .under-logo {
   font-size: 3em;
 }
 .btn-group {
   margin-top:40px;
  display: flex;
  justify-content: center;
 }
 a {
   color: #66615b!important;
 }
.panel {
  width: 30%;
  margin: 100px auto;
}
.top {
  font-size: 5em;
  font-weight: bolder;
  font-family: 'Amatic SC';
}
.and {
  color:#EB5E28;
}
.modal-body {
  padding:5px!important;
}
.colors-content-edit {
  height: 100%;
  overflow: auto;
}
div.tt-menu.tt-open {
  display: none!important;
}
