.search-input {
  font-size: 2.5em;
  margin-top: 1em;
  border: 1px solid;
  border-radius: 5px;
  box-sizing: border-box;
  width: 275%;
  border: 1px solid #EB5E28;
  font-family: 'Amatic SC';
  font-weight: bolder;
  background: white;
  padding-left: 15px;
}
