// Place all the styles related to the website controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.websites_dashboard {
  overflow-y: auto;
  width: 100%;
  height: 600px;
  padding: 0 10px;
  border-radius: 5px;
  }
.website {
  width: 23%;
  float: left;
  margin: 1%;
  position: relative;
}
.website-name {
  font-size: 1.1em;
  font-family: 'Amatic SC';
  font-weight: bold;
}
.website_individual {
 width: 100%;
 margin: 0 auto;
 border-radius: 5px;
 padding: 0 5px 5px 5px;
 font-size: 1.5em;
 overflow: auto;
 position:relative;
}
.font_style {
  font-family: 'Amatic SC';
}
.optionswebsites img {
  width:100%;
}
.website_individual:hover {
 opacity: 0.85;
 filter: alpha(opacity=85); /* For IE8 and earlier */
 .optionswebsites {
   display:block;
   width:1em;
   position: absolute;
   margin: 0 0.25em;
   top:0;
 }
 .edit-website {
   right:1.25em;
 }
 .delete-website {
   right:0;
 }
}
.screenshot {
overflow: hidden;
width:100%;
height:100%;
}
.screenshot img {
  width: 100%;
  margin: 0 0 -40% 0;
  border-radius: 5px;
}
.preview img {
  margin: 0!important;
}
.optionswebsites {
  display: none;
  cursor: pointer;
}
.optionswebsites:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.tagscontainer {
  margin-top: 10px;
  width: 100%;
  overflow: auto;
  height: 2.5em;
}
#website-selection {
  background-color: #337ab7;
  color: white;
}
